{{#if includesLiquidFire}}
  {{#liquid-if active class=popupClassNames}}
    <span class="pop-over-pointer"></span>
    {{yield}}
  {{/liquid-if}}
{{else}}
  {{#if active}}
    <div {{bind-attr class="popupClassNames"}}>
      <span class="pop-over-pointer"></span>
      {{yield}}
    </div>
  {{/if}}
{{/if}}
