<div class="other"></div>

<div id="click">Click<span></span></div>
{{#pop-over for="click" on="click"}}
  I have been clicked.
{{/pop-over}}

<div id="click-hold">Click + Hold<span></span></div>
{{#pop-over for="click-hold" on="click hold"}}
  I have been clicked / held.
{{/pop-over}}

<span id="hover">Hover<span></span></span>
{{#pop-over for="hover" on="hover"}}
  I have been hovered.
{{/pop-over}}

<span id="hover-hold">Hover + Hold<span></span></span>
{{#pop-over id="hover-hold-menu" for="hover-hold" on="hover hold"}}
  I have been hovered / held.<span class="inner"></span>
{{/pop-over}}

<div id="focus">Focus<span></span></div>
{{#pop-over for="focus" on="focus"}}
  I have been focused.
{{/pop-over}}

<div id="hover-focus">Hover + Focus<span></span></div>
{{#pop-over for="hover-focus" on="focus hover"}}
  I have been focused / hovered.
{{/pop-over}}
