<div class="other"></div>

<div id="click"><span></span></div>
{{#popup-menu for="click" on="click"}}
  I have been clicked.
{{/popup-menu}}

<div id="click-hold"><span></span></div>
{{#popup-menu for="click-hold" on="click hold"}}
  I have been clicked / held.
{{/popup-menu}}

<div id="hover"><span></span></div>
{{#popup-menu for="hover" on="hover"}}
  I have been hovered.
{{/popup-menu}}

<div id="focus"><span></span></div>
{{#popup-menu for="focus" on="focus"}}
  I have been focused.
{{/popup-menu}}

<div id="hover-focus"><span></span></div>
{{#popup-menu for="hover-focus" on="focus hover"}}
  I have been focused / hovered.
{{/popup-menu}}
