<div class="other"></div>

<div id="click"><span></span></div>
{{#popup-menu for="click" on="click"}}
  I have been clicked.
{{/popup-menu}}

<div id="click-hold"><span></span></div>
{{#popup-menu for="click-hold" on="click hold"}}
  I have been clicked / held.
{{/popup-menu}}
